<ng-container *ngIf="data | async let data">
  <h2>Dashboard</h2>
  <div class="content">
    <div class="card-list">
      <div class="card" *ngFor="let item of data">
        <div class="card-top">
          {{item.name}}
          <img src="{{item.image_url}}" alt="">
        </div>
        <button (click)="getGraph(item.id)">open</button>
      </div>
    </div>
    <div class="graph">
      <app-graph *ngIf="graphData" [graphData]="graphData"></app-graph>
    </div>
  </div>
</ng-container>