<div class="wrapper" *ngIf="data | async let data">
  <div class="dashboard">
    <div class="graph">
      <app-graph *ngIf="graphData" [graphData]="graphData"></app-graph>
    </div>
    <div class="card-list">
      <div class="card" *ngFor="let item of data; let index = index">
        <div class="card-img-top" [ngStyle]="{ 'background-image': 'url(' + item.image_url + ')' }"></div>
        <div class="card-body">
          <div class="card-title">
            {{item.name}}
          </div>
          <button type="button" class="btn btn-primary" (click)="getDataForGraph(item.id, item.name )">open</button>
        </div>
      </div>
    </div>
  </div>
</div>