img {
  height: auto;
  width: 100px;
}

.wrapper {
  width: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  height: 300px;
  width: 300px;
}

.card-img-top {
  width: calc(300px - 2rem);
  height: 200px;
  background-size: cover;
  background-position: center;
}